body {
    background:#FFF0A5;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:21%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background:#468966;
    border-radius:5px;
    box-shadow: 5px 8px #0D0D0C;
}

.assignment img{
    width: 200px;
    margin-right: 20px;
    border: 2px solid #8E2800;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    text-align: center;
    color: #0D0D0C;
}

a {
    text-decoration:none;
    color:white;   
}

.assignment a:hover {
    color:#0D0D0C;
}